<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user2" class="com.xw.UserT">
        <constructor-arg name="name" value="kuangshen2" />
    </bean>

    <alias name="user2" alias="userT" />

    <import resource="bean1.xml" />
</beans>