<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.rivercloud.wechat.mapper.UserMapper">

    <resultMap id="UserTable" type="User">
        <id column="id" property="id"/>
        <!-- column是数据库表的列名 , property是对应实体类的属性名 -->
        <result column="user_name" property="userName"/>
    </resultMap>

    <select id="getRole" parameterType="String" resultType="String">
       select role from wechat_user where user_name=#{username};
    </select>

    <select id="getPassword" parameterType="String" resultType="String">
       select password from wechat_user where user_name=#{username};
    </select>

    <select id="getRolePermission" parameterType="String" resultType="String">
        SELECT role.permission
                FROM wechat_user user, wechat_role role
                WHERE user_name =#{username} AND role.role = user.role
    </select>

    <select id="getPermission" parameterType="String" resultType="String">
        SELECT permission
        FROM wechat_user
        WHERE user_name = #{username}
    </select>

</mapper>