<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="cn.com.rivercloud.wechat.user.entity.User" alias="User" />
        <typeAlias type="cn.com.rivercloud.wechat.user.entity.Role" alias="Role" />
        <typeAlias type="cn.com.rivercloud.wechat.user.entity.Permission" alias="Permission" />
        <typeAlias type="cn.com.rivercloud.wechat.user.entity.RolePermission" alias="RolePermission" />
        <typeAlias type="cn.com.rivercloud.wechat.user.entity.UserRole" alias="UserRole" />
    </typeAliases>

</configuration>